* {
  -webkit-touch-callout: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
	   -o-box-sizing: border-box;
		  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  background: White;
  color: #202125;
  padding: auto;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 2.5em 0;
  padding: 0; 
}

a {
  color: #4385F5;
}

button {
  color: White;
  background: #4385F5;
  padding: 0.5em 0.8em;
  border: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-appearance: button;
  -webkit-box-shadow: var(--box-shadow);
     -moz-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
		  --box-shadow: 0 0.15em 0.5em -0.2em rgba(0, 0, 0, .5);
  -webkit-border-radius: var(--border-radius);
     -moz-border-radius: var(--border-radius);
          border-radius: var(--border-radius);
		  --border-radius: 0.4em;
}

button a {
  color: inherit !important;
  text-decoration: none;
}

button:hover,
button:active {
  -webkit-transition-duration: .8s;
     -moz-transition-duration: .8s;
       -o-transition-duration: .8s;
          transition-duration: .8s;
}

button:active {
  background-color: #337AFB;
  -webkit-box-shadow: var(--box-shadow);
     -moz-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
		  --box-shadow: 0 0.15em 0.8em -0.2em rgba(0, 0, 0, 1);
}

.main {
  padding: 1.5em;
}

.main p {
  opacity: 0.6;
}

.footer {
  margin-bottom: 2.5em;
}

img {
  overflow: none;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
